{% extends 'app/index-home.html' %} {% load static %}

<!--
End Fixed Navigation
==================================== -->
{% block main-content %}
{% include 'app/nav.html' %}
<section class="single-page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Contact Us</h2>
        <ol class="breadcrumb header-bradcrumb">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="active">Contact Us</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<!--Start Contact Us
	=========================================== -->
<section class="contact-us" id="contact">
  <div class="container">
    <div class="row">
      <!-- section title -->
      <div class="col-12">
        <div class="title text-center">
          <h2>Get In Touch</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate
            facilis eveniet maiores ab maxime nam ut numquam molestiae quaerat
            incidunt?
          </p>
          <div class="border"></div>
        </div>
      </div>
      <!-- /section title -->

      <!-- Contact Details -->
      <div class="contact-details col-md-6">
        <h3>Contact Details</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, vero,
          provident, eum eligendi blanditiis ex explicabo vitae nostrum facilis
          asperiores dolorem illo officiis ratione vel fugiat dicta laboriosam
          labore adipisci.
        </p>
        <ul class="contact-short-info">
          <li>
            <i class="tf-ion-ios-home"></i>
            <span>Khaja Road, Bayzid, Chittagong, Bangladesh</span>
          </li>
          <li>
            <i class="tf-ion-android-phone-portrait"></i>
            <span>Phone: +880-31-000-000</span>
          </li>
          <li>
            <i class="tf-ion-android-globe"></i>
            <span>Fax: +880-31-000-000</span>
          </li>
          <li>
            <i class="tf-ion-android-mail"></i>
            <span>Email: hello@meghna.com</span>
          </li>
        </ul>
        <!-- Footer Social Links -->
        <div class="social-icon">
          <ul>
            <li>
              <a href="#"><i class="tf-ion-social-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="tf-ion-social-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="tf-ion-social-dribbble-outline"></i></a>
            </li>
            <li>
              <a href="#"><i class="tf-ion-social-linkedin-outline"></i></a>
            </li>
          </ul>
        </div>
        <!--/. End Footer Social Links -->
      </div>
      <!-- / End Contact Details -->

      <!-- Contact Form -->
      <div class=" col-md-6">
        <form id="" method="post"  novalidate>
          {% csrf_token %} {% for fm in form %}
          <div class="form-group">
            {{fm.label_tag}} {{fm}}
            <small class="text-warning"> {{fm.errors|striptags}}</small>
          </div>
          {% endfor %}
          <input type="submit" value="Submit" class="btn btn-primary">
          {% if form.non_field_errors %} {% for error in form.non_field_errors %}
         
          <p class="alert alert-danger my-3">{{error}}</p>
          {% endfor %} {% endif %}
        </form>
      </div>
      <!-- ./End Contact Form -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end section -->

<!--================================
=            Google Map            =
=================================-->




<section class="map">
  <!-- Google Map -->
  <div ><div class="mapouter"><div class="gmap_canvas"><iframe width="3669" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.whatismyip-address.com/elementor/">elementor pro discount</a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:3669px;}</style><a href="https://www.embedgooglemap.net">make your own map google</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:3669px;}</style></div></div></div>
</section>
<!--====  End of Google Map  ====-->
{% include 'app/footer.html' %}
{% endblock main-content %}
